.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header,
.App-footer {
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
